<html>
	<head>
		<title>Resume</title>
	  <style type="text/css">

		@media (max-width:750px){
        #resume_view {
						display: none;
        }
    }

    @media (min-width:750px){
      #resume_link {
				display: none;
      }
    }

		#link_text {
			font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-weight: 800;
		}

	  </style>
	</head>
	<body>
		<object id="resume_view" data="{{site.url}}/assets/pdf/resume/resume.pdf#navpanes=0&scrollbar=0&toolbar=0" type="application/pdf" align="center" width="750px" height="1000px" style="margin-bottom:-50px;">
		    <embed src="{{site.url}}/assets/pdf/resume/resume.pdf" >
		        <p>This browser does not support PDFs. Please download the PDF to view it: <a href="{{site.url}}/assets/resume/resume.pdf">Download PDF</a>.</p>
		    </embed>
		</object>
		<div id="resume_link" style="margin-top:0px; margin-bottom:-100px;">
			<font size="5.5"><b><a id="link_text" href="{{site.url}}/assets/pdf/resume/resume.pdf" target="_blank">View Resume</a></b></font>
		</div>
	</body>
	<br>
	<br>
	<br>
	<br>
</html>